/*-----------------Login ,Forgot-------------------------*/



body{
    padding: 135px;
    margin: 60px;
}
input[type=text], input[type=password] {
   width: 18%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #bcbac9;
   box-sizing: border-box;
 }

 input[type=email], input[type=tel] {
   width: 18%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #bcbac9;
   box-sizing: border-box;
 }
 input[type=number], input[type=date] {
   width: 18%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #bcbac9;
   box-sizing: border-box;
 }
 button {
   background-color: #1290de;
   color: rgb(255, 255, 255);
   padding: 12px 12px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 15%;
 }
 
 button:hover {
   opacity: 0.3;
   background-color: blue;
 }

 a {
    color: blue;
 }
 a:hover{
   color: red;
 }

